<div class="form-group" data-component="field" data-property="$field.property">
    <label class="control-label col-md-2">$localization.m($field.description)</label>
    <input
            class="form-control col-md-10"
            type="datetime"
            name="$field.property"
            value="#if($value && $value != "")$localization.formatDate($value)#end"
            data-component="datetime"
            data-property="$field.property" />

    <span
            class="help-block col-md-offset-2 col-md-10 hidden"
            data-component="error"
            data-error-property="$field.property" />
</div>