<div class="form-group" data-component="field" data-property="$field.property">
    <label class="control-label col-md-2">$localization.m($field.description)</label>
    <div class="input-group col-md-10">

        <input
                class="form-control"
                type="password"
                name="$field.property"
                value="$value"
                data-component="password"
                #if ($field.tooltip)placeholder="$field.tooltip"#end
                data-property="$field.property" />

        <span class="input-group-addon">
            <i class="glyphicon glyphicon-eye-close"></i>
        </span>

    </div>
    <span
            class="help-block col-md-offset-2 col-md-10 hidden"
            data-component="error"
            data-error-property="$field.property" />
</div>