<div class="form-group" data-component="field" data-property="$field.property">
    <label class="control-label col-md-2">$localization.m($field.description)</label>

    <div class="col-md-10">
        <input
                class="form-control"
                type="text"
                name="$field.property"
                value="$value"
                data-component="text"
                data-property="$field.property" />
    </div>


    <span
        class="help-block col-md-offset-2 col-md-10 hidden"
        data-component="error"
        data-error-property="$field.property" />
</div>