<div class="form-group" data-component="field" data-property="$field.property">
    <label class="control-label col-md-2">$localization.m($field.description)</label>
    <div class="col-md-10">
        <textarea
                class="form-control"
                rows="3"
                name="$field.property"
                data-component="textarea"
                data-property="$field.property">$value</textarea>
    </div>

    <span
            class="help-block hidden"
            data-component="error"
            data-error-property="$field.property" />
</div>