<footer>
    <p>
        <img src="${staticBase}images/logo_white.png" class="footer-logo" />
        <span>&copy; Applica 2014 <a href="//www.applicadoit.com">www.applicadoit.com</a></span>
    </p>
</footer>

</div>
</body>
</html>
