/**
 * Applica (www.applicamobile.com).
 * User: bimbobruno
 * Date: 2/24/13
 * Time: 10:38 AM
 */

body {
    padding-top: 60px;
}

.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    body {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.navbar-fixed-top {
    z-index: 950;
}

.main-content-container {
    height: 100%;
    overflow: auto;
}

hr.footer {
    margin: 0px;
    margin-bottom: 10px;
}
