<div class="col-md-12" style="min-width: 500px;">

    #if(!$noFrame)
        <div class="header">
            #if($form.editMode)
                <h1 data-component="form_title">$localization.m("crud.form.edit.$form.identifier")</h1>
            #else
                <h1 data-component="form_title">$localization.m("crud.form.create.$form.identifier")</h1>
            #end
            <ul id="breadcrumbs"></ul>
        </div>
    #end

    <form action="javascript:;" method="$form.method" data-component="form" role="form" class="form-horizontal">
        #if($form.editMode && $data.get('id'))
            <input type="hidden" name="id" value="$data.get('id')" data-component="entity_id"/>
            <input type="hidden" name="mode" value="edit"/>
        #else
            <input type="hidden" name="mode" value="create"/>
        #end

        #foreach ($field in $fields)
            $field.writeToString($data, $form.entity)
        #end

        #if($form.descriptor.buttons && $form.descriptor.buttons.size() > 0)
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="form-actions">
                        #foreach($button in $form.descriptor.buttons)
                            #if($button.type == "submit")
                                <input type="submit" value="$localization.m($button.label)" class="btn btn-primary" />
                            #else
                                <input type="button" value="$localization.m($button.label)" class="btn" data-component="form_button" data-action="$button.action" />
                            #end
                        #end
                    </div>
                </div>
            </div>
        #else
            <input type="submit" value="submit" style="position: absolute; left: -10000px;">
        #end
    </form>

</div>