<div class="crud">

    #if ($rows.size() == 0)
        <div class="alert alert-info">$localization.m("msg.no_records")</div>
    #else

        <table class="grid">
            <thead>
            <tr>
                <th style="width: 1%;"><!--input type="checkbox" data-component="select_all_checkbox" /--></th>
                #foreach($column in $columns)
                    <th>
                        #if ($grid.sortable)
                            <a href="javascript:;" data-property="$column.property" data-component="sort_button"
                               data-sort-descending="true">
                                $localization.m($column.header)
                            </a>
                        #else
                            $localization.m($column.header)
                        #end
                    </th>
                #end
            </tr>
            </thead>

            <tbody>
                #foreach($row in $rows)
                <tr data-component="row" data-entity-id="$row.get('id')">
                    <td class="check"><input type="checkbox" class="grid-checkbox"  data-component="select_checkbox" data-entity-id="$row.get('id')"/></td>
                    #foreach($column in $columns)
                        <td class="dbClickSensitive">$column.writeToString($row.get($column.property))</td>
                    #end
                </tr>
                #end
            </tbody>
        </table>

    #end
</div>